<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.yoo.mapper.BoardMapper">
  	<select id="getList" parameterType="com.yoo.domain.Criteria"  resultType="com.yoo.domain.BoardVO">
  		
		SELECT  
			ROW_NUMBER() OVER()  AS rn 
			, bno 
			, title
			, content
			, writer
			, regdate
			, updatedate
		 FROM tbl_board
		 <include refid="criteria"></include>
		 LIMIT #{pageNum} ,#{amount}	
  	</select>
  	
  	<select id="getTotalCount" parameterType="com.yoo.domain.Criteria"  resultType="long">
		SELECT COUNT(bno) FROM tbl_board
		<include refid="criteria"></include>
  	</select>
  	
  	<sql id="criteria">
  		<where>
  			<if test=" keyword != null and keyword != '' ">
				<if test=' type == "A".toString() '>
				 	title LIKE CONCAT('%', #{keyword}, '%') OR
				 	content LIKE CONCAT('%', #{keyword}, '%') OR
				 	writer LIKE CONCAT('%', #{keyword}, '%')
				 </if>
		  		<if test=' type == "T".toString() '>
				 	title LIKE CONCAT('%', #{keyword}, '%')
				 </if>
				 <if test=' type == "C".toString() '>
				 	content LIKE CONCAT('%', #{keyword}, '%')
				 </if>
				 <if test=' type == "W".toString() '>
				 	writer LIKE CONCAT('%', #{keyword}, '%')
				 </if>
			 </if>  		
  		</where>
  	</sql>
  	
  	<insert id="register" parameterType="com.yoo.domain.BoardVO">
  		INSERT INTO tbl_board (
				bno, title, content, writer, regdate, updatedate
			) VALUES (
				(select nextval(seq))
				, #{title}
				, #{content}
				, #{writer}
				, SYSDATE()
				, SYSDATE()
			)
  	</insert>
  	
  	<select id="get" resultType="com.yoo.domain.BoardVO" parameterType="Long">
  		SELECT * FROM tbl_board WHERE bno = #{bno}
  	</select>
  	
  	<update id="update" parameterType="com.yoo.domain.BoardVO">
  		UPDATE tbl_board SET 
  			title = #{title}
  		  , content = #{content}
  		  , writer = #{writer}
  		  , updatedate = SYSDATE()
  		WHERE bno = #{bno}
  	</update>
  	
  	<delete id="delete">
  		DELETE FROM tbl_board WHERE bno = #{bno}
  	</delete>
  </mapper>