<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.yoo.mapper.BoardMapper">
  	<select id="getList" parameterType="com.yoo.domain.Criteria"  resultType="com.yoo.domain.BoardVO">
  		
		SELECT  
			ROW_NUMBER() OVER()  AS rn 
			, bno 
			, title
			, content
			, writer
			, regdate
			, updatedate
		 FROM tbl_board
		 WHERE( title LIKE '%테%' ) LIMIT #{pageNum} ,#{amount}		
	
  	</select>
  	
  	<select id="getTotalCount" resultType="long">
			SELECT count(bno) FROM tbl_board
  	</select>
  	
  	<insert id="register" parameterType="com.yoo.domain.BoardVO">
  		INSERT INTO tbl_board (
				bno, title, content, writer, regdate, updatedate
			) VALUES (
				(select nextval(seq))
				, #{title}
				, #{content}
				, #{writer}
				, SYSDATE()
				, SYSDATE()
			)
  	</insert>
  	
  	<select id="get" resultType="com.yoo.domain.BoardVO" parameterType="Long">
  		SELECT * FROM tbl_board WHERE bno = #{bno}
  	</select>
  	
  	<update id="update" parameterType="com.yoo.domain.BoardVO">
  		UPDATE tbl_board SET 
  			title = #{title}
  		  , content = #{content}
  		  , writer = #{writer}
  		  , updatedate = SYSDATE()
  		WHERE bno = #{bno}
  	</update>
  	
  	<delete id="delete">
  		DELETE FROM tbl_board WHERE bno = #{bno}
  	</delete>
  </mapper>